<!DOCTYPE html>
<html>
  <head>
    <title>CrudSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "一覧表示", "/users" %>
    <%= link_to "投稿", "/users/new" %>
    <%= yield %>
  </body>
</html>
